body {
    font: 15px Lato, sans-serif;
    text-align: center;
}

a {
  color: darkgoldenrod;
}

ul {
    list-style-type: none;
}

nav {
    background-color: #2d2d30;
}

.container {
    padding: 40px;
}

footer {
    background-color: #2d2d30;
    color: #cecece;
}
