extends layout

block content

  .container
    .row
      .col-12
  h1= 'Welcome to World of Warcraft guild rankings'
  p Click on the links above to see some statistics about WoW guilds
  br
  img(src="images/GnomeMale.jpg")
