doctype html
html
  head
    title= 'World of Warcraft Guild Ranking'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') World Of Warcraft Guilds - Home
    br
    a(href='/guilds') WoW Guilds ranked
    br
    a(href='/factions') WoW Guild rankings with factions

    block content
